*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main-content{
    width: 80%;
    background-color: beige;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 25px;
    overflow: hidden;
}

/* comienza el header */
.header-top{
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    width: 100%;
    height: 300px;
    background-color: rgb(10, 141, 113);
    text-align: center;
}


/* comienza la imagen del logo */

.logo-img img{
    background-color: rgb(0, 255, 234);
    width: 250px;
    margin-top: 10px;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.logo-img img:hover{
    translate: 0 -5px;
}

/* termina la imagen del logo */

/* navegador */
.nav-menu{
    align-self: end;
    margin-bottom: 5px;
}

.nav-menu ul li{
    display: inline;
}

.nav-menu ul li a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.nav-menu ul li a:hover{
    background-color: rgb(87, 87, 87);
    color: #fff;
    text-decoration: none;
}

/* termina el header */

/* empieza el banner */

.banner-main{
    background-size: 1920px 1080px;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 500px;
    animation: banner 10s infinite linear alternate;
}

.banner-main h2{
    z-index: 1;
    color: white;
    font-size: 100px;
}

@keyframes banner{
    0%, 20%{
        background-image: url(banner.jpg);
    }
    25%, 45%{
        background-image: url(banner-2.jpg);
    }
    50%, 70%{
        background-image: url(banner-3.jpg);
    }
    75%, 100%{
        background-image: url(banner-4.jpg);
    }
}

.capa-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,0.6);
}

/* Secciones */

.section-type{
    grid-column: 1/-1;
}

.section-opinion{
    grid-column: 1/-1;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

.footer-bottom{
    background: rgb(10, 141, 113);
}

.footer-bottom img{
    width: 50px;
    cursor: pointer;
}